@import url("https://fonts.cdnfonts.com/css/samsungone");

/* Reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

input {
  outline: none;
}

button {
  all: unset;
}

button,
input,
select {
  font-family: inherit;
}

/*  */

.container {
  width: 1440px;
  margin: 0 auto;
}

body {
  font-family: "SamsungOne", sans-serif;
}

/* Base Buttons */

.btn {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
}

.btn__outline {
  border: 1px solid #fff;
  padding: 10px 20px 10px;
  border-radius: 20px;
  transition: 0.3s;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.btn__underline {
  padding: 5px 0 5px;
  position: relative;

  &:hover::after {
    width: 100%;
  }
}

.btn__underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  bottom: -2px;
  background-color: #fff;
  transition: 0.3s;
}

/* font-family: 'Samsung Sharp Sans', sans-serif; */

/* Header */

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.5s ease;
}

header .container {
  background-color: transparent;
}

.header__top {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  padding: 16px;
  font-size: 0.875rem;
  color: #fff;
  font-weight: bold;
}

.header__top button:hover {
  color: #001b3c;
  cursor: pointer;
}

.header__top a::after {
  content: "";
  display: inline-block;
  background-image: url(https://www.samsung.com/etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-common/resources/images/icon-new-window-black.svg);
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background-size: cover;
  position: relative;
  top: -2px;
  margin-left: 2px;
  filter: invert(100%);
}

/* Header nav */

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0px 16px 0;
  font-weight: bold;
  line-height: 1.33;
}

.header__nav nav a {
  width: 120px;
  height: 19px;
  display: inline-block;
}

.header__nav nav a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(100%);
}

.header__nav nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__nav .navdropdown {
  display: flex;
  gap: 5px;
}

.header__nav nav ul li {
  padding: 12px 12px 16px;
}
.header__nav nav ul li a {
  display: inline-block;
  width: 100%;
}

/* Header right */

.header__nav__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav__right a i {
  font-size: 20px;
}

/* Dropdown */

header:hover {
  background-color: #fff;
}

header:hover .header__nav a img {
  filter: invert(0);
}

header:hover .header__top,
header:hover .header__nav {
  color: #000;
}

header:hover .header__nav__right button {
  background-color: #f7f7f7;
}

.navdropdown > li {
  transition: color 0.2s ease;
}

.navdropdown > li:hover > a {
  color: #006bea;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background-color: #fff;
  height: 414px;
  padding: 20px 32px 32px 32px;
  z-index: 10;
  color: #000;
}

.dropdown .container {
  display: flex;
  justify-content: space-between;
}

.dropdown .dropdown__left {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.dropdown__item {
  width: 120px;
  padding: 16px 4px;
}

.dropdown__item:hover img {
  transform: scale(1.1);
}

.dropdown__item p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.33;
  color: #000;
}

.dropdown__item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  /* transition: 0.5s ease; */
}

/* Dropdown right */

.dropdown__right {
  width: 400px;
  display: flex;
  padding-left: 20px;
  gap: 10px;
  flex-wrap: wrap;
  border-left: 1px solid #ccc;
}

.dright__item {
  width: calc((100% - (10px * 2)) / 2);
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 18px 10px;
  width: 174px;
  gap: 10px;
  border-radius: 10px;
}

.dright__item a {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.33;
  color: #000;
}

.dright__item img {
  width: 57px;
  height: 57px;
}

/* Menu dropdown */

.mobile_dropdown {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.7s ease;
}

.mobile:hover > .mobile_dropdown {
  max-height: 414px;
  visibility: visible;
}

/* Audio dropdown */

.audio_dropdown .container {
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 800px;
  text-align: center;
}

.audio_dropdown {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.7s ease;
}

.audio:hover .audio_dropdown {
  max-height: 414px;
  visibility: visible;
}

/* Button Search */

.btn__search {
  display: flex;
  gap: 8px;
  width: 176px;
  border: 1px solid rgba(255, 255, 255, 0.395);
  border-radius: 100px;
  padding: 10px 12px;
  font-weight: lighter;
  transition: border-color 0.5s cubic-bezier(0.35, 0, 0.36, 1);

  &:hover {
    border-color: rgba(255, 255, 255, 0.554);
  }
}

.btn__search i {
  font-size: 16px;
}

/* Main */

/* Banner Section  */

.banner {
  background: url("../img/HOME_TS11_Hero-KV_1920x1080_pc.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  font-size: 0.875rem;
  margin-bottom: 24px;
}

.banner__btns {
  position: absolute;
  top: 70%;
  left: 290px;
}

.banner__btns .btn {
  margin-right: 25px;
}

/* Section 2  */

.section2 {
  background: url("../img/Galaxy-S25-FE-Ecosystem_Home_Feature_KV_pc_1440x810_LTR.webp");
  height: 810px;
  background-repeat: no-repeat;
  position: relative;
  color: #000;
  margin-bottom: 24px;
}

.section2 .section2__btns {
  position: absolute;
  top: 65%;
  right: 390px;
}

.section2 .btn {
  margin-right: 25px;
}

.section2 .btn__underline::after {
  background-color: #000;
}

.section2 .btn__outline {
  border-color: #000;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

/* Product Section */

.product__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 24px 0px;
}

.product {
  width: 342px;
  height: 342px;
  position: relative;
  overflow: hidden;

  &:hover a img {
    transform: scale(1.1);
  }

  &:hover::after {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.product::after {
  content: "Buy now";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  padding: 9px 23px 10px 23px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: 1px solid black;
  border-radius: 20px;
  opacity: 0;
  z-index: 3;
  transition: 0.5s ease;
}

.product a {
  display: block;
}

.product a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: 0.7s ease;
}

.product h3 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "SamsungSharpSans", arial, sans-serif;
  z-index: 2;
}

/* Section 4 */

.sc4 {
  margin: 24px 0px;
}

.section4 {
  background: url(https://images.samsung.com/is/image/samsung/assets/us/homepage/hp/09052025/ESPN-KV_new_1440x810_noText_PC.jpg);
  height: 810px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section4 h2 {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "SamsungSharpSans", arial, sans-serif;
  line-height: 1.2;
}

.section4 P {
  font-size: 1.5rem;
  margin-top: 17px;
  line-height: 1.33;
}

.section4 .btn__outline {
  margin-top: 23px;
  border-color: #000;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

/* Section 6 */

.sc6 {
  margin: 24px 0px;
}

.section6 {
  background: url(https://images.samsung.com/is/image/samsung/assets/us/homepage/hp/06172025/SDSAC-9424-DA-Feature_KV_DT_1440x810.jpg);
  height: 810px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}

.sc6__text p {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 24px;
}

.sc6__text {
  position: absolute;
  top: 50%;
  left: 60px;
}

.sc6__text .btn__underline {
  margin-right: 25px;
}

/* Section 8 */

.sc8 {
  margin: 53px 0 60px;
}

.section8 {
  padding: 0 24px;
}

.section8 h3 {
  font-family: "SamsungSharpSans", arial, sans-serif;
  font-size: 2.5rem;
  line-height: 1.33;
  margin-bottom: 42px;
}

.section8 .slider {
  display: flex;
  gap: 8px;
  overflow-x: scroll;
}

.section8 .slider p {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.33;
}

.slider p {
  margin-top: 20px;
}

.slider article a {
  display: block;
  overflow: hidden;
}

.slider article {
  margin-bottom: 50px;

  &:hover a img {
    transform: scale(1.1);
  }
}

.slider article a img {
  object-fit: cover;
  transition: 0.7s ease;
}

/* Footer */

footer {
  height: 100vh;
}

/* .footer{
  padding: 0px 24px;
} */

.footer__top {
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.footer__top nav a:hover {
  text-decoration: underline;
}

.footer__top h4 {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
}

.footer__top nav {
  flex-grow: 1;
  padding: 0px 24px 32px;
  border-right: 1px solid #ccc;
}

.footer__top nav ul li a {
  display: block;
  padding: 7px 0px;
  font-size: 14px;
  line-height: 1.33;
  color: #000;
}

.footer__top h4 {
  padding: 16px 0px;
}

.nav2 nav {
  border: none;
}

/* footer copyright */

.footer__copyright {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  padding: 17px 12px 15px 24px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

/* Footer End */

.footer__end {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer__end p {
  font-size: 12px;
}

.ft_ul{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
}

.ft_ul ul{
  display: flex;
  gap: 20px;
}

.ft_ul > a{
  font-weight: 700;
}

.ft__icons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.cpm {
  margin-right: 20px;
}

/*  */

.up {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #ccc;
  position: fixed;
  right: 32px;
  bottom: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.fb_fixed {
  position: fixed;
  cursor: pointer;
  width: 18px;
  padding: 0px;
  right: 0px;
  height: 88px;
  bottom: 30% !important;
}
